### Import Cell

In [24]:
# Juna Workspace
file_activity_2.head()

In [15]:
file_activity.head()

In [17]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
import scipy as sc
import tensorflow as tf 

import warnings
warnings.simplefilter(action='ignore', category=SyntaxWarning)

### Definition Folder

In [18]:
# Dataset Activity
# file_activity = pd.read_csv("activity\dataset2.csv") # jnagan diubah ya baris ini
# file_activity_2 = pd.read_csv("activity_2\smartwatch.csv") # jnagan diubah ya baris ini

# Dataset Exercise Tracker
file_exercise_tracker_heartrate = pd.read_csv("Exercise_Tracker\heartrate_seconds_merged.csv")
file_exercise_tracker_hourlyCalories= pd.read_csv("Exercise_Tracker\hourlyCalories_merged.csv")
file_exercise_tracker_hourlySteps= pd.read_csv("Exercise_Tracker\hourlySteps_merged.csv")
file_exercise_tracker_minuteCaloriesNarrow= pd.read_csv("Exercise_Tracker\minuteCaloriesNarrow_merged.csv")
file_exercise_tracker_minutesCaloriesWide = pd.read_csv("Exercise_Tracker\minuteCaloriesWide_merged.csv")
file_exercise_tracker_minuteIntensitiesNarrow = pd.read_csv("Exercise_Tracker\minuteIntensitiesNarrow_merged.csv")
file_exercise_tracker_minuteIntensitiesWide = pd.read_csv("Exercise_Tracker\minuteIntensitiesWide_merged.csv")
file_exercise_tracker_minutMETsNarrow = pd.read_csv("Exercise_Tracker\minuteMETsNarrow_merged.csv") 
file_exercise_tracker_minuteSleep = pd.read_csv("Exercise_Tracker\minuteSleep_merged.csv")
file_exercise_tracker_minuteStepsNarrow = pd.read_csv("Exercise_Tracker\minuteStepsNarrow_merged.csv")
file_exercise_tracker_minuteStepsWide = pd.read_csv("Exercise_Tracker\minuteStepsWide_merged.csv")
file_exercise_tracker_sleepDay=pd.read_csv("Exercise_Tracker\sleepDay_merged.csv")
file_exercise_tracker_weightLogInfo = pd.read_csv("Exercise_Tracker\weightLogInfo_merged.csv")

# Dataset Fitness trackingitss_tracking_da
file_fitness_tracking_dailyActivity = pd.read_csv("Fitness_Tracking_Dataset\dailyActivity_merged.csv")
file_fitness_tracking_heartrate = pd.read_csv("Fitness_Tracking_Dataset\heartrate_seconds_merged.csv")
file_fitness_tracking_hourlyCalories = pd.read_csv("Fitness_Tracking_Dataset\hourlyCalories_merged.csv")
file_fitness_tracking_hourlyIntensities = pd.read_csv("Fitness_Tracking_Dataset\hourlyIntensities_merged.csv")
file_fitness_tracking_hourlySteps = pd.read_csv("Fitness_Tracking_Dataset\hourlySteps_merged.csv")
file_fitness_tracking_minutesCaloriesNarrow = pd.read_csv("Fitness_Tracking_Dataset\minuteCaloriesNarrow_merged.csv")
file_fitness_tracking_minuteMETsNarrow = pd.read_csv("Fitness_Tracking_Dataset\minuteMETsNarrow_merged.csv")
file_fitness_tracking_minuteSleep = pd.read_csv("Fitness_Tracking_Dataset\minuteSleep_merged.csv")
file_fitness_tracking_minuteStepsNarrow = pd.read_csv("Fitness_Tracking_Dataset\minuteStepsNarrow_merged.csv")
file_fitness_tracking_weightLogInfo = pd.read_csv("Fitness_Tracking_Dataset\weightLogInfo_merged.csv")

# Dataset Fitness Tracking 2
file_fitness_tracking_2_dailyActivity = pd.read_csv("Fitness_Tracking_Dataset_2\dailyActivity_merged.csv")
# file_fitness_tracking_2_heartrate = pd.read_csv("Fitness_Tracking_Dataset_2\heartrate_seconds_merged.csv")
# file_fitness_tracking_2_hourlyCalories = pd.read_csv("Fitness_Tracking_Dataset_2\hourlyCalories_merged.csv")
# file_fitness_tracking_2_hourlyIntensities = pd.read_csv("Fitness_Tracking_Dataset_2\hourlyIntensities_merged.csv")
# file_fitness_tracking_2_hourlysteps = pd.read_csv("Fitness_Tracking_Dataset_2\hourlySteps_merged.csv")
# file_fitness_tracking_2_minutesCaloriesNarrow = pd.read_csv("Fitness_Tracking_Dataset_2\minuteCaloriesNarrow_merged.csv")
# file_fitness_tracking_2_minuteMETsNarrow = pd.read_csv("Fitness_Tracking_Dataset_2\minuteMETsNarrow_merged.csv")
# file_fitness_tracking_2_minuteSleep = pd.read_csv("Fitness_Tracking_Dataset_2\minuteSleep_merged.csv")
# file_fitness_tracking_2_minuteStepsNarrow = pd.read_csv("Fitness_Tracking_Dataset_2\minuteStepsNarrow_merged.csv")
# file_fitness_tracking_2_weightLogInfo = pd.read_csv("Fitness_Tracking_Dataset_2\weightLogInfo_merged.csv")

### Load and Assesing in Folder Exercise Tracker

Load and Assesing file_exercise_tracker_heartrate

In [3]:
file_exercise_tracker_heartrate.head()

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [4]:
file_exercise_tracker_heartrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483658 entries, 0 to 2483657
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      int64
 1   Time    object
 2   Value   int64
dtypes: int64(2), object(1)
memory usage: 56.8+ MB

In [5]:
file_exercise_tracker_heartrate.isna().sum()

Id       0
Time     0
Value    0
dtype: int64

In [6]:
print("Jumlah duplikasi: ", file_exercise_tracker_heartrate.duplicated().sum())

Jumlah duplikasi:  0

In [7]:
file_exercise_tracker_heartrate.describe()

                 Id         Value
count  2.483658e+06  2.483658e+06
mean   5.513765e+09  7.732842e+01
std    1.950224e+09  1.940450e+01
min    2.022484e+09  3.600000e+01
25%    4.388162e+09  6.300000e+01
50%    5.553957e+09  7.300000e+01
75%    6.962181e+09  8.800000e+01
max    8.877689e+09  2.030000e+02

Load and Assesing data file_exercise_tracker_hourlyCalories

In [8]:
file_exercise_tracker_hourlyCalories.head()

           Id           ActivityHour  Calories
0  1503960366  4/12/2016 12:00:00 AM        81
1  1503960366   4/12/2016 1:00:00 AM        61
2  1503960366   4/12/2016 2:00:00 AM        59
3  1503960366   4/12/2016 3:00:00 AM        47
4  1503960366   4/12/2016 4:00:00 AM        48

In [9]:
file_exercise_tracker_hourlyCalories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            22099 non-null  int64
 1   ActivityHour  22099 non-null  object
 2   Calories      22099 non-null  int64
dtypes: int64(2), object(1)
memory usage: 518.1+ KB

In [10]:
file_exercise_tracker_hourlyCalories.isna().sum()

Id              0
ActivityHour    0
Calories        0
dtype: int64

In [11]:
print("jumlah duplikasi:", file_exercise_tracker_hourlyCalories.duplicated().sum())

jumlah duplikasi: 0

In [12]:
file_exercise_tracker_hourlyCalories.describe()

                 Id      Calories
count  2.209900e+04  22099.000000
mean   4.848235e+09     97.386760
std    2.422500e+09     60.702622
min    1.503960e+09     42.000000
25%    2.320127e+09     63.000000
50%    4.445115e+09     83.000000
75%    6.962181e+09    108.000000
max    8.877689e+09    948.000000

 Load and Assesing data file_exercise_tracker_HourlyStep

In [13]:
file_exercise_tracker_hourlySteps.head()

           Id           ActivityHour  StepTotal
0  1503960366  4/12/2016 12:00:00 AM        373
1  1503960366   4/12/2016 1:00:00 AM        160
2  1503960366   4/12/2016 2:00:00 AM        151
3  1503960366   4/12/2016 3:00:00 AM          0
4  1503960366   4/12/2016 4:00:00 AM          0

In [14]:
file_exercise_tracker_hourlySteps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22099 entries, 0 to 22098
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            22099 non-null  int64
 1   ActivityHour  22099 non-null  object
 2   StepTotal     22099 non-null  int64
dtypes: int64(2), object(1)
memory usage: 518.1+ KB

In [15]:
file_exercise_tracker_hourlySteps.isna().sum()

Id              0
ActivityHour    0
StepTotal       0
dtype: int64

In [16]:
print("jumlah duplikasi: ", file_exercise_tracker_hourlySteps.duplicated().sum())

jumlah duplikasi:  0

In [17]:
file_exercise_tracker_hourlySteps.describe()

                 Id     StepTotal
count  2.209900e+04  22099.000000
mean   4.848235e+09    320.166342
std    2.422500e+09    690.384228
min    1.503960e+09      0.000000
25%    2.320127e+09      0.000000
50%    4.445115e+09     40.000000
75%    6.962181e+09    357.000000
max    8.877689e+09  10554.000000

 Load and  Assesing file_exercise_tracker_minuteCalories_Narrow

In [18]:
file_exercise_tracker_minuteCaloriesNarrow.head()

           Id         ActivityMinute  Calories
0  1503960366  4/12/2016 12:00:00 AM    0.7865
1  1503960366  4/12/2016 12:01:00 AM    0.7865
2  1503960366  4/12/2016 12:02:00 AM    0.7865
3  1503960366  4/12/2016 12:03:00 AM    0.7865
4  1503960366  4/12/2016 12:04:00 AM    0.7865

In [19]:
file_exercise_tracker_minuteCaloriesNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Calories        1325580 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.3+ MB

In [20]:
file_exercise_tracker_minuteCaloriesNarrow.isna().sum()

Id                0
ActivityMinute    0
Calories          0
dtype: int64

In [21]:
print("Jumlah Duplikasi: ", file_exercise_tracker_minuteCaloriesNarrow.duplicated().sum())

Jumlah Duplikasi:  0

In [22]:
file_exercise_tracker_minuteCaloriesNarrow.describe()

                 Id      Calories
count  1.325580e+06  1.325580e+06
mean   4.847898e+09  1.623130e+00
std    2.422313e+09  1.410447e+00
min    1.503960e+09  0.000000e+00
25%    2.320127e+09  9.357000e-01
50%    4.445115e+09  1.217600e+00
75%    6.962181e+09  1.432700e+00
max    8.877689e+09  1.974995e+01

 Load and Assesing file_exercise_tracker_minutesCaloriesWide

In [18]:
file_exercise_tracker_minutesCaloriesWide.head()

,Id,ActivityHour,Calories00,Calories01,Calories02,Calories03,Calories04,Calories05,Calories06,Calories07,...,Calories50,Calories51,Calories52,Calories53,Calories54,Calories55,Calories56,Calories57,Calories58,Calories59
0,1503960366,4/13/2016 12:00:00 AM,1.8876,2.2022,0.9438,0.9438,0.9438,2.0449,0.9438,2.2022,...,0.9438,2.0449,2.0449,0.9438,2.3595,1.8876,0.9438,0.9438,0.9438,0.9438
1,1503960366,4/13/2016 1:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.9438,0.9438,0.9438,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
2,1503960366,4/13/2016 2:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
3,1503960366,4/13/2016 3:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865
4,1503960366,4/13/2016 4:00:00 AM,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,...,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865,0.7865

In [19]:
file_exercise_tracker_minutesCaloriesWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Calories00    21645 non-null  float64
 3   Calories01    21645 non-null  float64
 4   Calories02    21645 non-null  float64
 5   Calories03    21645 non-null  float64
 6   Calories04    21645 non-null  float64
 7   Calories05    21645 non-null  float64
 8   Calories06    21645 non-null  float64
 9   Calories07    21645 non-null  float64
 10  Calories08    21645 non-null  float64
 11  Calories09    21645 non-null  float64
 12  Calories10    21645 non-null  float64
 13  Calories11    21645 non-null  float64
 14  Calories12    21645 non-null  float64
 15  Calories13    21645 non-null  float64
 16  Calories14    21645 non-null  float64
 17  Calories15    21645 non-null  float64
 18  Calories16    21645 non-null  float64
 19  Calories17    21645 non-null  float64
 20  Calories18    21645 non-null  float64
 21  Calories19    21645 non-null  float64
 22  Calories20    21645 non-null  float64
 23  Calories21    21645 non-null  float64
 24  Calories22    21645 non-null  float64
 25  Calories23    21645 non-null  float64
 26  Calories24    21645 non-null  float64
 27  Calories25    21645 non-null  float64
 28  Calories26    21645 non-null  float64
 29  Calories27    21645 non-null  float64
 30  Calories28    21645 non-null  float64
 31  Calories29    21645 non-null  float64
 32  Calories30    21645 non-null  float64
 33  Calories31    21645 non-null  float64
 34  Calories32    21645 non-null  float64
 35  Calories33    21645 non-null  float64
 36  Calories34    21645 non-null  float64
 37  Calories35    21645 non-null  float64
 38  Calories36    21645 non-null  float64
 39  Calories37    21645 non-null  float64
 40  Calories38    21645 non-null  float64
 41  Calories39    21645 non-null  float64
 42  Calories40    21645 non-null  float64
 43  Calories41    21645 non-null  float64
 44  Calories42    21645 non-null  float64
 45  Calories43    21645 non-null  float64
 46  Calories44    21645 non-null  float64
 47  Calories45    21645 non-null  float64
 48  Calories46    21645 non-null  float64
 49  Calories47    21645 non-null  float64
 50  Calories48    21645 non-null  float64
 51  Calories49    21645 non-null  float64
 52  Calories50    21645 non-null  float64
 53  Calories51    21645 non-null  float64
 54  Calories52    21645 non-null  float64
 55  Calories53    21645 non-null  float64
 56  Calories54    21645 non-null  float64
 57  Calories55    21645 non-null  float64
 58  Calories56    21645 non-null  float64
 59  Calories57    21645 non-null  float64
 60  Calories58    21645 non-null  float64
 61  Calories59    21645 non-null  float64
dtypes: float64(60), int64(1), object(1)
memory usage: 10.2+ MB

In [23]:
file_exercise_tracker_minutesCaloriesWide.isna().sum()

Id              0
ActivityHour    0
Calories00      0
Calories01      0
Calories02      0
               ..
Calories55      0
Calories56      0
Calories57      0
Calories58      0
Calories59      0
Length: 62, dtype: int64

In [24]:
print("jumlah duplikasi: ", file_exercise_tracker_minutesCaloriesWide.duplicated().sum())

jumlah duplikasi:  0

In [25]:
file_exercise_tracker_minutesCaloriesWide.describe()

,Id,Calories00,Calories01,Calories02,Calories03,Calories04,Calories05,Calories06,Calories07,Calories08,...,Calories50,Calories51,Calories52,Calories53,Calories54,Calories55,Calories56,Calories57,Calories58,Calories59
count,2.164500e+04,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,...,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000
mean,4.836965e+09,1.622629,1.626377,1.637824,1.635515,1.637997,1.638306,1.639910,1.629520,1.623686,...,1.623665,1.613643,1.620958,1.618227,1.621229,1.615972,1.608714,1.612657,1.611715,1.612110
std,2.424088e+09,1.398418,1.395083,1.408828,1.419590,1.433532,1.438253,1.435465,1.424092,1.411596,...,1.407171,1.395206,1.407914,1.400498,1.408974,1.392530,1.376827,1.369097,1.374954,1.373888
min,1.503960e+09,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,...,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.702700,0.000000
25%,2.320127e+09,0.935700,0.935700,0.937680,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700,...,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700,0.935700
50%,4.445115e+09,1.217600,1.217600,1.220400,1.218500,1.218500,1.218500,1.218500,1.217600,1.217600,...,1.217600,1.217600,1.217600,1.217600,1.217600,1.217600,1.217600,1.217600,1.217600,1.217600
75%,6.962181e+09,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,...,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700,1.432700
max,8.877689e+09,19.727337,19.727337,19.727337,19.727337,19.727337,19.727337,19.727337,19.727337,19.727337,...,19.749947,19.749947,19.749947,19.749947,19.749947,19.749947,19.727337,19.727337,19.727337,19.727337

Load and Assesing file_exercise_minuteIntesitiesNarrow

In [33]:
file_exercise_tracker_minuteIntensitiesNarrow.head()

           Id         ActivityMinute  Intensity
0  1503960366  4/12/2016 12:00:00 AM          0
1  1503960366  4/12/2016 12:01:00 AM          0
2  1503960366  4/12/2016 12:02:00 AM          0
3  1503960366  4/12/2016 12:03:00 AM          0
4  1503960366  4/12/2016 12:04:00 AM          0

In [34]:
file_exercise_tracker_minuteIntensitiesNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Intensity       1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

In [35]:
file_exercise_tracker_minuteIntensitiesNarrow.isna().sum()

Id                0
ActivityMinute    0
Intensity         0
dtype: int64

In [36]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteIntensitiesNarrow.duplicated().sum())

Jumlah duplikasi:  0

In [37]:
file_exercise_tracker_minuteIntensitiesNarrow.describe()

                 Id     Intensity
count  1.325580e+06  1.325580e+06
mean   4.847898e+09  2.005937e-01
std    2.422313e+09  5.190227e-01
min    1.503960e+09  0.000000e+00
25%    2.320127e+09  0.000000e+00
50%    4.445115e+09  0.000000e+00
75%    6.962181e+09  0.000000e+00
max    8.877689e+09  3.000000e+00

 Load and Assesing file_exercise_minuteIntensitiesWide

In [40]:
file_exercise_tracker_minuteIntensitiesWide.head()

,Id,ActivityHour,Intensity00,Intensity01,Intensity02,Intensity03,Intensity04,Intensity05,Intensity06,Intensity07,...,Intensity50,Intensity51,Intensity52,Intensity53,Intensity54,Intensity55,Intensity56,Intensity57,Intensity58,Intensity59
0,1503960366,4/13/2016 12:00:00 AM,1,1,0,0,0,1,0,1,...,0,1,1,0,1,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
file_exercise_tracker_minuteIntensitiesWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Intensity00   21645 non-null  int64
 3   Intensity01   21645 non-null  int64
 4   Intensity02   21645 non-null  int64
 5   Intensity03   21645 non-null  int64
 6   Intensity04   21645 non-null  int64
 7   Intensity05   21645 non-null  int64
 8   Intensity06   21645 non-null  int64
 9   Intensity07   21645 non-null  int64
 10  Intensity08   21645 non-null  int64
 11  Intensity09   21645 non-null  int64
 12  Intensity10   21645 non-null  int64
 13  Intensity11   21645 non-null  int64
 14  Intensity12   21645 non-null  int64
 15  Intensity13   21645 non-null  int64
 16  Intensity14   21645 non-null  int64
 17  Intensity15   21645 non-null  int64
 18  Intensity16   21645 non-null  int64
 19  Intensity17   21645 non-null  int64
 20  Intensity18   21645 non-null  int64
 21  Intensity19   21645 non-null  int64
 22  Intensity20   21645 non-null  int64
 23  Intensity21   21645 non-null  int64
 24  Intensity22   21645 non-null  int64
 25  Intensity23   21645 non-null  int64
 26  Intensity24   21645 non-null  int64
 27  Intensity25   21645 non-null  int64
 28  Intensity26   21645 non-null  int64
 29  Intensity27   21645 non-null  int64
 30  Intensity28   21645 non-null  int64
 31  Intensity29   21645 non-null  int64
 32  Intensity30   21645 non-null  int64
 33  Intensity31   21645 non-null  int64
 34  Intensity32   21645 non-null  int64
 35  Intensity33   21645 non-null  int64
 36  Intensity34   21645 non-null  int64
 37  Intensity35   21645 non-null  int64
 38  Intensity36   21645 non-null  int64
 39  Intensity37   21645 non-null  int64
 40  Intensity38   21645 non-null  int64
 41  Intensity39   21645 non-null  int64
 42  Intensity40   21645 non-null  int64
 43  Intensity41   21645 non-null  int64
 44  Intensity42   21645 non-null  int64
 45  Intensity43   21645 non-null  int64
 46  Intensity44   21645 non-null  int64
 47  Intensity45   21645 non-null  int64
 48  Intensity46   21645 non-null  int64
 49  Intensity47   21645 non-null  int64
 50  Intensity48   21645 non-null  int64
 51  Intensity49   21645 non-null  int64
 52  Intensity50   21645 non-null  int64
 53  Intensity51   21645 non-null  int64
 54  Intensity52   21645 non-null  int64
 55  Intensity53   21645 non-null  int64
 56  Intensity54   21645 non-null  int64
 57  Intensity55   21645 non-null  int64
 58  Intensity56   21645 non-null  int64
 59  Intensity57   21645 non-null  int64
 60  Intensity58   21645 non-null  int64
 61  Intensity59   21645 non-null  int64
dtypes: int64(61), object(1)
memory usage: 10.2+ MB

In [42]:
file_exercise_tracker_minuteIntensitiesWide.isna().sum()

Id              0
ActivityHour    0
Intensity00     0
Intensity01     0
Intensity02     0
               ..
Intensity55     0
Intensity56     0
Intensity57     0
Intensity58     0
Intensity59     0
Length: 62, dtype: int64

In [43]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteIntensitiesWide.duplicated().sum())

Jumlah duplikasi:  0

In [44]:
file_exercise_tracker_minuteIntensitiesWide.describe()

,Id,Intensity00,Intensity01,Intensity02,Intensity03,Intensity04,Intensity05,Intensity06,Intensity07,Intensity08,...,Intensity50,Intensity51,Intensity52,Intensity53,Intensity54,Intensity55,Intensity56,Intensity57,Intensity58,Intensity59
count,2.164500e+04,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,...,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000
mean,4.836965e+09,0.199723,0.203326,0.208177,0.203835,0.205082,0.204897,0.206560,0.201894,0.202310,...,0.201016,0.195796,0.198337,0.199399,0.200139,0.198753,0.195565,0.199122,0.198244,0.195426
std,2.424088e+09,0.509819,0.515432,0.521394,0.518137,0.521956,0.521054,0.523053,0.519074,0.522594,...,0.514814,0.510299,0.511264,0.513331,0.512142,0.511238,0.506435,0.511907,0.510124,0.503423
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.445115e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.962181e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8.877689e+09,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000

Load and Assesing file_exercise_tracker_minuteMETsNarrow

In [48]:
file_exercise_tracker_minutMETsNarrow.head()

           Id         ActivityMinute  METs
0  1503960366  4/12/2016 12:00:00 AM    10
1  1503960366  4/12/2016 12:01:00 AM    10
2  1503960366  4/12/2016 12:02:00 AM    10
3  1503960366  4/12/2016 12:03:00 AM    10
4  1503960366  4/12/2016 12:04:00 AM    10

In [49]:
file_exercise_tracker_minutMETsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   METs            1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

In [50]:
file_exercise_tracker_minutMETsNarrow.isna().sum()

Id                0
ActivityMinute    0
METs              0
dtype: int64

In [51]:
print("Jumlah duplikasi: ", file_exercise_tracker_minutMETsNarrow.duplicated().sum())

Jumlah duplikasi:  0

In [52]:
file_exercise_tracker_minutMETsNarrow.describe()

                 Id          METs
count  1.325580e+06  1.325580e+06
mean   4.847898e+09  1.469001e+01
std    2.422313e+09  1.205541e+01
min    1.503960e+09  0.000000e+00
25%    2.320127e+09  1.000000e+01
50%    4.445115e+09  1.000000e+01
75%    6.962181e+09  1.100000e+01
max    8.877689e+09  1.570000e+02

 Load and Assesing file_exercise_tracker_minuteSleep

In [55]:
file_exercise_tracker_minuteSleep.head()

           Id                  date  value        logId
0  1503960366  4/12/2016 2:47:30 AM      3  11380564589
1  1503960366  4/12/2016 2:48:30 AM      2  11380564589
2  1503960366  4/12/2016 2:49:30 AM      1  11380564589
3  1503960366  4/12/2016 2:50:30 AM      1  11380564589
4  1503960366  4/12/2016 2:51:30 AM      1  11380564589

In [56]:
file_exercise_tracker_minuteSleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188521 entries, 0 to 188520
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      188521 non-null  int64
 1   date    188521 non-null  object
 2   value   188521 non-null  int64
 3   logId   188521 non-null  int64
dtypes: int64(3), object(1)
memory usage: 5.8+ MB

In [57]:
file_exercise_tracker_minuteSleep.isna().sum()

Id       0
date     0
value    0
logId    0
dtype: int64

In [58]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteSleep.duplicated().sum())

Jumlah duplikasi:  543

In [59]:
file_exercise_tracker_minuteSleep.describe()

                 Id          value         logId
count  1.885210e+05  188521.000000  1.885210e+05
mean   4.996595e+09       1.095793  1.149611e+10
std    2.066950e+09       0.328673  6.822863e+07
min    1.503960e+09       1.000000  1.137223e+10
25%    3.977334e+09       1.000000  1.143931e+10
50%    4.702922e+09       1.000000  1.150114e+10
75%    6.962181e+09       1.000000  1.155253e+10
max    8.792010e+09       3.000000  1.161625e+10

Load and Asessing file_exercise_tracker_minuteStepsNarrow

In [66]:
file_exercise_tracker_minuteStepsNarrow.head()

           Id         ActivityMinute  Steps
0  1503960366  4/12/2016 12:00:00 AM      0
1  1503960366  4/12/2016 12:01:00 AM      0
2  1503960366  4/12/2016 12:02:00 AM      0
3  1503960366  4/12/2016 12:03:00 AM      0
4  1503960366  4/12/2016 12:04:00 AM      0

In [67]:
file_exercise_tracker_minuteStepsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  object
 2   Steps           1325580 non-null  int64
dtypes: int64(2), object(1)
memory usage: 30.3+ MB

In [69]:
file_exercise_tracker_minuteStepsNarrow.isna().sum()

Id                0
ActivityMinute    0
Steps             0
dtype: int64

In [71]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteStepsNarrow.duplicated().sum())

Jumlah duplikasi:  0

In [72]:
file_exercise_tracker_minuteStepsNarrow.describe()

                 Id         Steps
count  1.325580e+06  1.325580e+06
mean   4.847898e+09  5.336192e+00
std    2.422313e+09  1.812830e+01
min    1.503960e+09  0.000000e+00
25%    2.320127e+09  0.000000e+00
50%    4.445115e+09  0.000000e+00
75%    6.962181e+09  0.000000e+00
max    8.877689e+09  2.200000e+02

Load And Assesing file_exercise_tracker_minuteStepWide

In [76]:
file_exercise_tracker_minuteStepsWide.head()

,Id,ActivityHour,Steps00,Steps01,Steps02,Steps03,Steps04,Steps05,Steps06,Steps07,...,Steps50,Steps51,Steps52,Steps53,Steps54,Steps55,Steps56,Steps57,Steps58,Steps59
0,1503960366,4/13/2016 12:00:00 AM,4,16,0,0,0,9,0,17,...,0,9,8,0,20,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [93]:
file_exercise_tracker_minuteStepsWide.head()

,Id,ActivityHour,Steps00,Steps01,Steps02,Steps03,Steps04,Steps05,Steps06,Steps07,...,Steps50,Steps51,Steps52,Steps53,Steps54,Steps55,Steps56,Steps57,Steps58,Steps59
0,1503960366,4/13/2016 12:00:00 AM,4,16,0,0,0,9,0,17,...,0,9,8,0,20,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [87]:
file_exercise_tracker_minuteStepsWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  object
 2   Steps00       21645 non-null  int64
 3   Steps01       21645 non-null  int64
 4   Steps02       21645 non-null  int64
 5   Steps03       21645 non-null  int64
 6   Steps04       21645 non-null  int64
 7   Steps05       21645 non-null  int64
 8   Steps06       21645 non-null  int64
 9   Steps07       21645 non-null  int64
 10  Steps08       21645 non-null  int64
 11  Steps09       21645 non-null  int64
 12  Steps10       21645 non-null  int64
 13  Steps11       21645 non-null  int64
 14  Steps12       21645 non-null  int64
 15  Steps13       21645 non-null  int64
 16  Steps14       21645 non-null  int64
 17  Steps15       21645 non-null  int64
 18  Steps16       21645 non-null  int64
 19  Steps17       21645 non-null  int64
 20  Steps18       21645 non-null  int64
 21  Steps19       21645 non-null  int64
 22  Steps20       21645 non-null  int64
 23  Steps21       21645 non-null  int64
 24  Steps22       21645 non-null  int64
 25  Steps23       21645 non-null  int64
 26  Steps24       21645 non-null  int64
 27  Steps25       21645 non-null  int64
 28  Steps26       21645 non-null  int64
 29  Steps27       21645 non-null  int64
 30  Steps28       21645 non-null  int64
 31  Steps29       21645 non-null  int64
 32  Steps30       21645 non-null  int64
 33  Steps31       21645 non-null  int64
 34  Steps32       21645 non-null  int64
 35  Steps33       21645 non-null  int64
 36  Steps34       21645 non-null  int64
 37  Steps35       21645 non-null  int64
 38  Steps36       21645 non-null  int64
 39  Steps37       21645 non-null  int64
 40  Steps38       21645 non-null  int64
 41  Steps39       21645 non-null  int64
 42  Steps40       21645 non-null  int64
 43  Steps41       21645 non-null  int64
 44  Steps42       21645 non-null  int64
 45  Steps43       21645 non-null  int64
 46  Steps44       21645 non-null  int64
 47  Steps45       21645 non-null  int64
 48  Steps46       21645 non-null  int64
 49  Steps47       21645 non-null  int64
 50  Steps48       21645 non-null  int64
 51  Steps49       21645 non-null  int64
 52  Steps50       21645 non-null  int64
 53  Steps51       21645 non-null  int64
 54  Steps52       21645 non-null  int64
 55  Steps53       21645 non-null  int64
 56  Steps54       21645 non-null  int64
 57  Steps55       21645 non-null  int64
 58  Steps56       21645 non-null  int64
 59  Steps57       21645 non-null  int64
 60  Steps58       21645 non-null  int64
 61  Steps59       21645 non-null  int64
dtypes: int64(61), object(1)
memory usage: 10.2+ MB

In [90]:
file_exercise_tracker_minuteStepsWide.isna().sum()

Id              0
ActivityHour    0
Steps00         0
Steps01         0
Steps02         0
               ..
Steps55         0
Steps56         0
Steps57         0
Steps58         0
Steps59         0
Length: 62, dtype: int64

In [91]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteStepsWide.duplicated().sum())

Jumlah duplikasi:  0

In [92]:
file_exercise_tracker_minuteStepsWide.describe()

,Id,Steps00,Steps01,Steps02,Steps03,Steps04,Steps05,Steps06,Steps07,Steps08,...,Steps50,Steps51,Steps52,Steps53,Steps54,Steps55,Steps56,Steps57,Steps58,Steps59
count,2.164500e+04,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.00000,...,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000,21645.000000
mean,4.836965e+09,5.304366,5.335412,5.531439,5.469439,5.461862,5.590252,5.559483,5.412474,5.35879,...,5.329175,5.194456,5.225595,5.145484,5.223654,5.281220,5.179533,5.251836,5.143636,5.288935
std,2.424088e+09,17.783331,17.678358,18.079791,18.106414,18.288469,18.565165,18.484912,18.335665,18.20523,...,17.870527,17.601857,17.618497,17.570195,17.684634,17.828413,17.569268,17.686583,17.427494,17.721454
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.445115e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.962181e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8.877689e+09,186.000000,180.000000,182.000000,182.000000,181.000000,180.000000,181.000000,183.000000,180.00000,...,182.000000,181.000000,181.000000,181.000000,184.000000,181.000000,182.000000,182.000000,180.000000,189.000000

Load and Assesing file_exercise_tracker_sleepDay

In [201]:
file_exercise_tracker_sleepDay.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,1,327,346
1,1503960366,2016-04-13,2,384,407
2,1503960366,2016-04-15,1,412,442
3,1503960366,2016-04-16,2,340,367
4,1503960366,2016-04-17,1,700,712

In [202]:
file_exercise_tracker_sleepDay.head()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
0,1503960366,2016-04-12,1,327,346
1,1503960366,2016-04-13,2,384,407
2,1503960366,2016-04-15,1,412,442
3,1503960366,2016-04-16,2,340,367
4,1503960366,2016-04-17,1,700,712

In [203]:
file_exercise_tracker_sleepDay.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  410 non-null    int64
 1   SleepDay            410 non-null    datetime64[ns]
 2   TotalSleepRecords   410 non-null    int64
 3   TotalMinutesAsleep  410 non-null    int64
 4   TotalTimeInBed      410 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 19.2 KB

In [204]:
file_exercise_tracker_sleepDay.isna().sum()

Id                    0
SleepDay              0
TotalSleepRecords     0
TotalMinutesAsleep    0
TotalTimeInBed        0
dtype: int64

In [205]:
print("Jumlah duplikasi: ", file_exercise_tracker_sleepDay.duplicated().sum())

Jumlah duplikasi:  0

In [170]:
file_exercise_tracker_sleepDay.describe()

,Id,SleepDay,TotalSleepRecords,TotalMinutesAsleep,TotalTimeInBed
count,4.100000e+02,410,410.000000,410.000000,410.000000
mean,4.994963e+09,2016-04-26 11:38:55.609756160,1.119512,419.173171,458.482927
min,1.503960e+09,2016-04-12 00:00:00,1.000000,58.000000,61.000000
25%,3.977334e+09,2016-04-19 00:00:00,1.000000,361.000000,403.750000
50%,4.702922e+09,2016-04-27 00:00:00,1.000000,432.500000,463.000000
75%,6.962181e+09,2016-05-04 00:00:00,1.000000,490.000000,526.000000
max,8.792010e+09,2016-05-12 00:00:00,3.000000,796.000000,961.000000
std,2.060863e+09,NaN,0.346636,118.635918,127.455140

Load and assesing data file_exercise_weightLogInfo

In [196]:
file_exercise_tracker_weightLogInfo.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,5/2/2016 11:59:59 PM,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,5/3/2016 11:59:59 PM,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,4/13/2016 1:08:52 AM,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,4/21/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,5/12/2016 11:59:59 PM,57.299999,126.324875,NaN,21.690001,True,1463097599000

In [197]:
file_exercise_tracker_weightLogInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     object
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 3.9+ KB

In [198]:
file_exercise_tracker_weightLogInfo.isna().sum()

Id                 0
Date               0
WeightKg           0
WeightPounds       0
Fat               65
BMI                0
IsManualReport     0
LogId              0
dtype: int64

In [199]:
print("Jumlah duplikasi: ", file_exercise_tracker_weightLogInfo.duplicated().sum())

Jumlah duplikasi:  0

In [200]:
file_exercise_tracker_weightLogInfo.describe()

,Id,WeightKg,WeightPounds,Fat,BMI,LogId
count,6.700000e+01,67.000000,67.000000,2.00000,67.000000,6.700000e+01
mean,7.009282e+09,72.035821,158.811801,23.50000,25.185224,1.461772e+12
std,1.950322e+09,13.923206,30.695415,2.12132,3.066963,7.829948e+08
min,1.503960e+09,52.599998,115.963147,22.00000,21.450001,1.460444e+12
25%,6.962181e+09,61.400002,135.363832,22.75000,23.959999,1.461079e+12
50%,6.962181e+09,62.500000,137.788914,23.50000,24.389999,1.461802e+12
75%,8.877689e+09,85.049999,187.503152,24.25000,25.559999,1.462375e+12
max,8.877689e+09,133.500000,294.317120,25.00000,47.540001,1.463098e+12

### Load and Assesing in Folder Fitness Tracking

load and asseing data file_fitness_tracking_dailyActivity

In [132]:
file_fitness_tracking_dailyActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

In [133]:
file_fitness_tracking_dailyActivity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        457 non-null    int64
 1   ActivityDate              457 non-null    object
 2   TotalSteps                457 non-null    int64
 3   TotalDistance             457 non-null    float64
 4   TrackerDistance           457 non-null    float64
 5   LoggedActivitiesDistance  457 non-null    float64
 6   VeryActiveDistance        457 non-null    float64
 7   ModeratelyActiveDistance  457 non-null    float64
 8   LightActiveDistance       457 non-null    float64
 9   SedentaryActiveDistance   457 non-null    float64
 10  VeryActiveMinutes         457 non-null    int64
 11  FairlyActiveMinutes       457 non-null    int64
 12  LightlyActiveMinutes      457 non-null    int64
 13  SedentaryMinutes          457 non-null    int64
 14  Calories                  457 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 53.7+ KB

In [134]:
file_fitness_tracking_dailyActivity.isna().sum()

Id                          0
ActivityDate                0
TotalSteps                  0
TotalDistance               0
TrackerDistance             0
LoggedActivitiesDistance    0
VeryActiveDistance          0
ModeratelyActiveDistance    0
LightActiveDistance         0
SedentaryActiveDistance     0
VeryActiveMinutes           0
FairlyActiveMinutes         0
LightlyActiveMinutes        0
SedentaryMinutes            0
Calories                    0
dtype: int64

In [135]:
print("Jumlah duplikasi: ", file_fitness_tracking_dailyActivity.duplicated().sum())

Jumlah duplikasi:  0

load and assesing data file_fitness_tracking_heartrate

In [143]:

file_fitness_tracking_heartrate.head()

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

In [144]:
file_fitness_tracking_heartrate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154681 entries, 0 to 1154680
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   Id      1154681 non-null  int64
 1   Time    1154681 non-null  object
 2   Value   1154681 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.4+ MB

In [145]:
file_fitness_tracking_heartrate.isna().sum()

Id       0
Time     0
Value    0
dtype: int64

In [146]:
file_fitness_tracking_heartrate.describe()

                 Id         Value
count  1.154681e+06  1.154681e+06
mean   5.352122e+09  7.975687e+01
std    2.033584e+09  1.872988e+01
min    2.022484e+09  3.600000e+01
25%    4.020333e+09  6.600000e+01
50%    5.553957e+09  7.700000e+01
75%    6.962181e+09  9.000000e+01
max    8.877689e+09  1.850000e+02

load and asseing data file_fitness_tracking_hourlyCalories

In [230]:
file_fitness_tracking_hourlyCalories.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [151]:
file_fitness_tracking_hourlyCalories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            24084 non-null  int64
 1   ActivityHour  24084 non-null  object
 2   Calories      24084 non-null  int64
dtypes: int64(2), object(1)
memory usage: 564.6+ KB

In [154]:
print("Jumlah duplikasi: ", file_fitness_tracking_hourlyCalories.duplicated().sum())

Jumlah duplikasi:  0

In [152]:
file_fitness_tracking_hourlyCalories.describe()

                 Id      Calories
count  2.408400e+04  24084.000000
mean   4.889424e+09     94.266692
std    2.421566e+09     59.395711
min    1.503960e+09     42.000000
25%    2.347168e+09     61.000000
50%    4.558610e+09     77.000000
75%    6.962181e+09    104.000000
max    8.877689e+09    933.000000

load and assesing data file_fitness_tracking_hourlyIntensities

In [231]:
file_fitness_tracking_hourlyIntensities.head()

           Id           ActivityHour  TotalIntensity  AverageIntensity
0  1503960366  3/12/2016 12:00:00 AM               0               0.0
1  1503960366   3/12/2016 1:00:00 AM               0               0.0
2  1503960366   3/12/2016 2:00:00 AM               0               0.0
3  1503960366   3/12/2016 3:00:00 AM               0               0.0
4  1503960366   3/12/2016 4:00:00 AM               0               0.0

In [158]:
file_fitness_tracking_hourlyIntensities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                24084 non-null  int64
 1   ActivityHour      24084 non-null  object
 2   TotalIntensity    24084 non-null  int64
 3   AverageIntensity  24084 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 752.8+ KB

In [ ]:
file_fitness_tracking_hourlyIntensities.isna().sum()

Id                  0
ActivityHour        0
TotalIntensity      0
AverageIntensity    0
dtype: int64

In [161]:
print("Jumlah duplikasi: ", file_fitness_tracking_hourlyIntensities.duplicated().sum())

Jumlah duplikasi:  0

In [162]:
file_fitness_tracking_hourlyIntensities.describe()

                 Id  TotalIntensity  AverageIntensity
count  2.408400e+04    24084.000000      24084.000000
mean   4.889424e+09       10.826316          0.180439
std    2.421566e+09       20.314312          0.338572
min    1.503960e+09        0.000000          0.000000
25%    2.347168e+09        0.000000          0.000000
50%    4.558610e+09        1.000000          0.016667
75%    6.962181e+09       14.000000          0.233333
max    8.877689e+09      180.000000          3.000000

load dan assesing data file_fitness_tracking_hourlysteps

In [233]:
file_fitness_tracking_hourlySteps.head()

           Id           ActivityHour  StepTotal
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366   3/12/2016 1:00:00 AM          0
2  1503960366   3/12/2016 2:00:00 AM          0
3  1503960366   3/12/2016 3:00:00 AM          0
4  1503960366   3/12/2016 4:00:00 AM          0

In [234]:
file_fitness_tracking_hourlySteps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24084 entries, 0 to 24083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            24084 non-null  int64
 1   ActivityHour  24084 non-null  object
 2   StepTotal     24084 non-null  int64
dtypes: int64(2), object(1)
memory usage: 564.6+ KB

In [235]:
print("Jumlah Duplikasi: ", file_fitness_tracking_hourlySteps.duplicated().sum())

Jumlah Duplikasi:  0

In [236]:
file_fitness_tracking_hourlySteps.describe()

                 Id     StepTotal
count  2.408400e+04  24084.000000
mean   4.889424e+09    286.218693
std    2.421566e+09    664.924224
min    1.503960e+09      0.000000
25%    2.347168e+09      0.000000
50%    4.558610e+09     10.000000
75%    6.962181e+09    289.000000
max    8.877689e+09  10565.000000

In [ ]:
file_fitness_tracking_minutesCaloriesNarrow.head()

           Id         ActivityMinute  Calories
0  1503960366  3/12/2016 12:00:00 AM    0.7973
1  1503960366  3/12/2016 12:01:00 AM    0.7973
2  1503960366  3/12/2016 12:02:00 AM    0.7973
3  1503960366  3/12/2016 12:03:00 AM    0.7973
4  1503960366  3/12/2016 12:04:00 AM    0.7973

In [189]:
file_fitness_tracking_minutesCaloriesNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445040 entries, 0 to 1445039
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1445040 non-null  int64
 1   ActivityMinute  1445040 non-null  object
 2   Calories        1445040 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.1+ MB

In [190]:
file_fitness_tracking_minutesCaloriesNarrow.isna().sum()

Id                0
ActivityMinute    0
Calories          0
dtype: int64

In [191]:
print("Jumlah duplikasi: ", file_fitness_tracking_minutesCaloriesNarrow.duplicated().sum())

Jumlah duplikasi:  0

In [192]:
file_fitness_tracking_minutesCaloriesNarrow.describe()

                 Id      Calories
count  1.445040e+06  1.445040e+06
mean   4.889424e+09  1.571299e+00
std    2.421516e+09  1.361955e+00
min    1.503960e+09  0.000000e+00
25%    2.347168e+09  9.357000e-01
50%    4.558610e+09  1.217600e+00
75%    6.962181e+09  1.406000e+00
max    8.877689e+09  2.301264e+01

load and assesing data file_fitness_tracking_minutETsNarrow

In [239]:
file_fitness_tracking_minuteMETsNarrow.head()

           Id         ActivityMinute  METs
0  1503960366  3/12/2016 12:00:00 AM    10
1  1503960366  3/12/2016 12:01:00 AM    10
2  1503960366  3/12/2016 12:02:00 AM    10
3  1503960366  3/12/2016 12:03:00 AM    10
4  1503960366  3/12/2016 12:04:00 AM    10

In [240]:
file_fitness_tracking_minuteMETsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445040 entries, 0 to 1445039
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1445040 non-null  int64
 1   ActivityMinute  1445040 non-null  object
 2   METs            1445040 non-null  int64
dtypes: int64(2), object(1)
memory usage: 33.1+ MB

In [241]:
print("Jumlah Duplikasi: ", file_fitness_tracking_minuteMETsNarrow.duplicated().sum())

Jumlah Duplikasi:  0

In [242]:
file_fitness_tracking_minuteMETsNarrow.describe()

                 Id          METs
count  1.445040e+06  1.445040e+06
mean   4.889424e+09  1.423876e+01
std    2.421516e+09  1.154079e+01
min    1.503960e+09  0.000000e+00
25%    2.347168e+09  1.000000e+01
50%    4.558610e+09  1.000000e+01
75%    6.962181e+09  1.100000e+01
max    8.877689e+09  1.890000e+02

load and assesing data file_fitness_tracking_minuteSleep

In [247]:
file_fitness_tracking_minuteSleep.head()

           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637

In [248]:
file_fitness_tracking_minuteSleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198559 entries, 0 to 198558
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      198559 non-null  int64
 1   date    198559 non-null  object
 2   value   198559 non-null  int64
 3   logId   198559 non-null  int64
dtypes: int64(3), object(1)
memory usage: 6.1+ MB

In [249]:
file_fitness_tracking_minuteSleep.isna().sum()

Id       0
date     0
value    0
logId    0
dtype: int64

In [250]:
print("Jumlah duplikasi: ", file_fitness_tracking_minuteSleep.duplicated().sum())

Jumlah duplikasi:  525

In [251]:
file_fitness_tracking_minuteSleep.describe()

                 Id          value         logId
count  1.985590e+05  198559.000000  1.985590e+05
mean   4.824304e+09       1.085899  1.124161e+10
std    2.173935e+09       0.314480  7.969858e+07
min    1.503960e+09       1.000000  1.110365e+10
25%    2.347168e+09       1.000000  1.116551e+10
50%    4.702922e+09       1.000000  1.124395e+10
75%    6.775889e+09       1.000000  1.131074e+10
max    8.792010e+09       3.000000  1.137488e+10

load and assesing data file_fitness_tracking_minuteStepsNarrow

In [3]:
file_fitness_tracking_minuteStepsNarrow.head()

           Id         ActivityMinute  Steps
0  1503960366  3/12/2016 12:00:00 AM      0
1  1503960366  3/12/2016 12:01:00 AM      0
2  1503960366  3/12/2016 12:02:00 AM      0
3  1503960366  3/12/2016 12:03:00 AM      0
4  1503960366  3/12/2016 12:04:00 AM      0

In [4]:
file_fitness_tracking_minuteStepsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445040 entries, 0 to 1445039
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1445040 non-null  int64
 1   ActivityMinute  1445040 non-null  object
 2   Steps           1445040 non-null  int64
dtypes: int64(2), object(1)
memory usage: 33.1+ MB

In [5]:
print("jumlah duplikasi:", file_fitness_tracking_minuteStepsNarrow.duplicated().sum())

jumlah duplikasi: 0

In [6]:
file_fitness_tracking_minuteStepsNarrow.describe()

                 Id         Steps
count  1.445040e+06  1.445040e+06
mean   4.889424e+09  4.770312e+00
std    2.421516e+09  1.721853e+01
min    1.503960e+09  0.000000e+00
25%    2.347168e+09  0.000000e+00
50%    4.558610e+09  0.000000e+00
75%    6.962181e+09  0.000000e+00
max    8.877689e+09  2.040000e+02

load and assesing data file_fitness_tracking_weightLogInfo

In [10]:
file_fitness_tracking_weightLogInfo.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,4/5/2016 11:59:59 PM,53.299999,117.506384,22.0,22.969999,True,1459900799000
1,1927972279,4/10/2016 6:33:26 PM,129.600006,285.719105,NaN,46.169998,False,1460313206000
2,2347167796,4/3/2016 11:59:59 PM,63.400002,139.773078,10.0,24.770000,True,1459727999000
3,2873212765,4/6/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1459987199000
4,2873212765,4/7/2016 11:59:59 PM,57.200001,126.104416,NaN,21.650000,True,1460073599000

In [11]:
file_fitness_tracking_weightLogInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              33 non-null     int64
 1   Date            33 non-null     object
 2   WeightKg        33 non-null     float64
 3   WeightPounds    33 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             33 non-null     float64
 6   IsManualReport  33 non-null     bool
 7   LogId           33 non-null     int64
dtypes: bool(1), float64(4), int64(2), object(1)
memory usage: 2.0+ KB

In [12]:
file_fitness_tracking_weightLogInfo.isna().sum()

Id                 0
Date               0
WeightKg           0
WeightPounds       0
Fat               31
BMI                0
IsManualReport     0
LogId              0
dtype: int64

In [13]:
print("Jumlah duplikasi:", file_fitness_tracking_weightLogInfo.duplicated().sum())

Jumlah duplikasi: 0

In [14]:
file_fitness_tracking_weightLogInfo.describe()

,Id,WeightKg,WeightPounds,Fat,BMI,LogId
count,3.300000e+01,33.000000,33.000000,2.000000,33.000000,3.300000e+01
mean,6.477156e+09,73.442425,161.912831,16.000000,25.730909,1.459959e+12
std,2.308888e+09,16.531127,36.444897,8.485281,4.330387,3.088072e+08
min,1.503960e+09,53.299999,117.506384,10.000000,21.450001,1.459382e+12
25%,4.702922e+09,61.700001,136.025217,13.000000,24.100000,1.459753e+12
50%,6.962181e+09,62.500000,137.788914,16.000000,24.389999,1.459987e+12
75%,8.877689e+09,85.800003,189.156628,19.000000,25.760000,1.460160e+12
max,8.877689e+09,129.600006,285.719105,22.000000,46.169998,1.460506e+12

In [15]:
file_fitness_tracking_weightLogInfo[file_fitness_tracking_weightLogInfo.WeightKg == file_fitness_tracking_weightLogInfo.WeightKg.max()]

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
1,1927972279,4/10/2016 6:33:26 PM,129.600006,285.719105,NaN,46.169998,False,1460313206000

### load and assesing data Fitnes tracker 2

In [16]:
file_fitness_tracking_2_dailyActivity.head()

NameError: name 'file_fitness_tracking_2_dailyActivity' is not defined

# Data Cleaning and Transformation

#### Cleaning Folder Exercise Tracker

Cleaning data file_exercise_tracker_heartrate

In [23]:
file_exercise_tracker_heartrate['Time'] = pd.to_datetime(file_exercise_tracker_heartrate['Time'])

In [24]:
file_exercise_tracker_heartrate.head()

           Id                Time  Value
0  2022484408 2016-04-12 07:21:00     97
1  2022484408 2016-04-12 07:21:05    102
2  2022484408 2016-04-12 07:21:10    105
3  2022484408 2016-04-12 07:21:20    103
4  2022484408 2016-04-12 07:21:25    101

Cleaning data file_exercise_tracker_hourlyCalories()

In [25]:
file_exercise_tracker_hourlyCalories['ActivityHour'] = pd.to_datetime(file_exercise_tracker_hourlyCalories['ActivityHour'])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\2706607422.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_hourlyCalories['ActivityHour'] = pd.to_datetime(file_exercise_tracker_hourlyCalories['ActivityHour'])

In [26]:
file_exercise_tracker_hourlyCalories.head()

           Id        ActivityHour  Calories
0  1503960366 2016-04-12 00:00:00        81
1  1503960366 2016-04-12 01:00:00        61
2  1503960366 2016-04-12 02:00:00        59
3  1503960366 2016-04-12 03:00:00        47
4  1503960366 2016-04-12 04:00:00        48

Cleaning file HourlySteps

In [27]:
file_exercise_tracker_hourlySteps['ActivityHour'] = pd.to_datetime(file_exercise_tracker_hourlySteps['ActivityHour'])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\1377251621.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_hourlySteps['ActivityHour'] = pd.to_datetime(file_exercise_tracker_hourlySteps['ActivityHour'])

In [28]:
file_exercise_tracker_hourlySteps.head()

           Id        ActivityHour  StepTotal
0  1503960366 2016-04-12 00:00:00        373
1  1503960366 2016-04-12 01:00:00        160
2  1503960366 2016-04-12 02:00:00        151
3  1503960366 2016-04-12 03:00:00          0
4  1503960366 2016-04-12 04:00:00          0

 Cleaning file minuteCalories Narrow

In [29]:
file_exercise_tracker_minuteCaloriesNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteCaloriesNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\371974684.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minuteCaloriesNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteCaloriesNarrow["ActivityMinute"])

In [30]:
file_exercise_tracker_minuteCaloriesNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Calories        1325580 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1)
memory usage: 30.3 MB

Cleaning file minuteCaloriesWide

In [31]:
file_exercise_tracker_minutesCaloriesWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minutesCaloriesWide["ActivityHour"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\3582536438.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minutesCaloriesWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minutesCaloriesWide["ActivityHour"])

In [32]:
file_exercise_tracker_minutesCaloriesWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  datetime64[ns]
 2   Calories00    21645 non-null  float64
 3   Calories01    21645 non-null  float64
 4   Calories02    21645 non-null  float64
 5   Calories03    21645 non-null  float64
 6   Calories04    21645 non-null  float64
 7   Calories05    21645 non-null  float64
 8   Calories06    21645 non-null  float64
 9   Calories07    21645 non-null  float64
 10  Calories08    21645 non-null  float64
 11  Calories09    21645 non-null  float64
 12  Calories10    21645 non-null  float64
 13  Calories11    21645 non-null  float64
 14  Calories12    21645 non-null  float64
 15  Calories13    21645 non-null  float64
 16  Calories14    21645 non-null  float64
 17  Calories15    21645 non-null  float64
 18  Calories16    21645 non-null  float64
 19  Calories17    21645 non-null  float64
 20  Calories18    21645 non-null  float64
 21  Calories19    21645 non-null  float64
 22  Calories20    21645 non-null  float64
 23  Calories21    21645 non-null  float64
 24  Calories22    21645 non-null  float64
 25  Calories23    21645 non-null  float64
 26  Calories24    21645 non-null  float64
 27  Calories25    21645 non-null  float64
 28  Calories26    21645 non-null  float64
 29  Calories27    21645 non-null  float64
 30  Calories28    21645 non-null  float64
 31  Calories29    21645 non-null  float64
 32  Calories30    21645 non-null  float64
 33  Calories31    21645 non-null  float64
 34  Calories32    21645 non-null  float64
 35  Calories33    21645 non-null  float64
 36  Calories34    21645 non-null  float64
 37  Calories35    21645 non-null  float64
 38  Calories36    21645 non-null  float64
 39  Calories37    21645 non-null  float64
 40  Calories38    21645 non-null  float64
 41  Calories39    21645 non-null  float64
 42  Calories40    21645 non-null  float64
 43  Calories41    21645 non-null  float64
 44  Calories42    21645 non-null  float64
 45  Calories43    21645 non-null  float64
 46  Calories44    21645 non-null  float64
 47  Calories45    21645 non-null  float64
 48  Calories46    21645 non-null  float64
 49  Calories47    21645 non-null  float64
 50  Calories48    21645 non-null  float64
 51  Calories49    21645 non-null  float64
 52  Calories50    21645 non-null  float64
 53  Calories51    21645 non-null  float64
 54  Calories52    21645 non-null  float64
 55  Calories53    21645 non-null  float64
 56  Calories54    21645 non-null  float64
 57  Calories55    21645 non-null  float64
 58  Calories56    21645 non-null  float64
 59  Calories57    21645 non-null  float64
 60  Calories58    21645 non-null  float64
 61  Calories59    21645 non-null  float64
dtypes: datetime64[ns](1), float64(60), int64(1)
memory usage: 10.2 MB

Cleaning file minuteIntensitiesNarrow

In [38]:
file_exercise_tracker_minuteIntensitiesNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteIntensitiesNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\1305143451.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minuteIntensitiesNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteIntensitiesNarrow["ActivityMinute"])

In [39]:
file_exercise_tracker_minuteIntensitiesNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Intensity       1325580 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 30.3 MB

Clean file minuteIntensitiesWide

In [46]:
file_exercise_tracker_minuteIntensitiesWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minuteIntensitiesWide["ActivityHour"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\2136624881.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minuteIntensitiesWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minuteIntensitiesWide["ActivityHour"])

In [47]:
file_exercise_tracker_minuteIntensitiesWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  datetime64[ns]
 2   Intensity00   21645 non-null  int64
 3   Intensity01   21645 non-null  int64
 4   Intensity02   21645 non-null  int64
 5   Intensity03   21645 non-null  int64
 6   Intensity04   21645 non-null  int64
 7   Intensity05   21645 non-null  int64
 8   Intensity06   21645 non-null  int64
 9   Intensity07   21645 non-null  int64
 10  Intensity08   21645 non-null  int64
 11  Intensity09   21645 non-null  int64
 12  Intensity10   21645 non-null  int64
 13  Intensity11   21645 non-null  int64
 14  Intensity12   21645 non-null  int64
 15  Intensity13   21645 non-null  int64
 16  Intensity14   21645 non-null  int64
 17  Intensity15   21645 non-null  int64
 18  Intensity16   21645 non-null  int64
 19  Intensity17   21645 non-null  int64
 20  Intensity18   21645 non-null  int64
 21  Intensity19   21645 non-null  int64
 22  Intensity20   21645 non-null  int64
 23  Intensity21   21645 non-null  int64
 24  Intensity22   21645 non-null  int64
 25  Intensity23   21645 non-null  int64
 26  Intensity24   21645 non-null  int64
 27  Intensity25   21645 non-null  int64
 28  Intensity26   21645 non-null  int64
 29  Intensity27   21645 non-null  int64
 30  Intensity28   21645 non-null  int64
 31  Intensity29   21645 non-null  int64
 32  Intensity30   21645 non-null  int64
 33  Intensity31   21645 non-null  int64
 34  Intensity32   21645 non-null  int64
 35  Intensity33   21645 non-null  int64
 36  Intensity34   21645 non-null  int64
 37  Intensity35   21645 non-null  int64
 38  Intensity36   21645 non-null  int64
 39  Intensity37   21645 non-null  int64
 40  Intensity38   21645 non-null  int64
 41  Intensity39   21645 non-null  int64
 42  Intensity40   21645 non-null  int64
 43  Intensity41   21645 non-null  int64
 44  Intensity42   21645 non-null  int64
 45  Intensity43   21645 non-null  int64
 46  Intensity44   21645 non-null  int64
 47  Intensity45   21645 non-null  int64
 48  Intensity46   21645 non-null  int64
 49  Intensity47   21645 non-null  int64
 50  Intensity48   21645 non-null  int64
 51  Intensity49   21645 non-null  int64
 52  Intensity50   21645 non-null  int64
 53  Intensity51   21645 non-null  int64
 54  Intensity52   21645 non-null  int64
 55  Intensity53   21645 non-null  int64
 56  Intensity54   21645 non-null  int64
 57  Intensity55   21645 non-null  int64
 58  Intensity56   21645 non-null  int64
 59  Intensity57   21645 non-null  int64
 60  Intensity58   21645 non-null  int64
 61  Intensity59   21645 non-null  int64
dtypes: datetime64[ns](1), int64(61)
memory usage: 10.2 MB

Clean file minuteMETsNarrow

In [53]:
file_exercise_tracker_minutMETsNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minutMETsNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\3343544988.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minutMETsNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minutMETsNarrow["ActivityMinute"])

In [54]:
file_exercise_tracker_minutMETsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   METs            1325580 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 30.3 MB

Clean file minuteSleep

In [60]:
file_exercise_tracker_minuteSleep["date"] = pd.to_datetime(file_exercise_tracker_minuteSleep["date"])

In [61]:
file_exercise_tracker_minuteSleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188521 entries, 0 to 188520
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      188521 non-null  int64
 1   date    188521 non-null  datetime64[ns]
 2   value   188521 non-null  int64
 3   logId   188521 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 5.8 MB

In [62]:
file_exercise_tracker_minuteSleep.drop_duplicates(inplace=True)

In [64]:
print("Jumlah duplikasi: ", file_exercise_tracker_minuteSleep.duplicated().sum())

Jumlah duplikasi:  0

Clean minuteStepsNarrow

In [74]:
file_exercise_tracker_minuteStepsNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteStepsNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\3454632455.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minuteStepsNarrow["ActivityMinute"] = pd.to_datetime(file_exercise_tracker_minuteStepsNarrow["ActivityMinute"])

In [75]:
file_exercise_tracker_minuteStepsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1325580 entries, 0 to 1325579
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1325580 non-null  int64
 1   ActivityMinute  1325580 non-null  datetime64[ns]
 2   Steps           1325580 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 30.3 MB

Clean file minuteStepsWide

In [94]:
file_exercise_tracker_minuteStepsWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minuteStepsWide["ActivityHour"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\2260341397.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_minuteStepsWide["ActivityHour"] = pd.to_datetime(file_exercise_tracker_minuteStepsWide["ActivityHour"])

In [95]:
file_exercise_tracker_minuteStepsWide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21645 entries, 0 to 21644
Data columns (total 62 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            21645 non-null  int64
 1   ActivityHour  21645 non-null  datetime64[ns]
 2   Steps00       21645 non-null  int64
 3   Steps01       21645 non-null  int64
 4   Steps02       21645 non-null  int64
 5   Steps03       21645 non-null  int64
 6   Steps04       21645 non-null  int64
 7   Steps05       21645 non-null  int64
 8   Steps06       21645 non-null  int64
 9   Steps07       21645 non-null  int64
 10  Steps08       21645 non-null  int64
 11  Steps09       21645 non-null  int64
 12  Steps10       21645 non-null  int64
 13  Steps11       21645 non-null  int64
 14  Steps12       21645 non-null  int64
 15  Steps13       21645 non-null  int64
 16  Steps14       21645 non-null  int64
 17  Steps15       21645 non-null  int64
 18  Steps16       21645 non-null  int64
 19  Steps17       21645 non-null  int64
 20  Steps18       21645 non-null  int64
 21  Steps19       21645 non-null  int64
 22  Steps20       21645 non-null  int64
 23  Steps21       21645 non-null  int64
 24  Steps22       21645 non-null  int64
 25  Steps23       21645 non-null  int64
 26  Steps24       21645 non-null  int64
 27  Steps25       21645 non-null  int64
 28  Steps26       21645 non-null  int64
 29  Steps27       21645 non-null  int64
 30  Steps28       21645 non-null  int64
 31  Steps29       21645 non-null  int64
 32  Steps30       21645 non-null  int64
 33  Steps31       21645 non-null  int64
 34  Steps32       21645 non-null  int64
 35  Steps33       21645 non-null  int64
 36  Steps34       21645 non-null  int64
 37  Steps35       21645 non-null  int64
 38  Steps36       21645 non-null  int64
 39  Steps37       21645 non-null  int64
 40  Steps38       21645 non-null  int64
 41  Steps39       21645 non-null  int64
 42  Steps40       21645 non-null  int64
 43  Steps41       21645 non-null  int64
 44  Steps42       21645 non-null  int64
 45  Steps43       21645 non-null  int64
 46  Steps44       21645 non-null  int64
 47  Steps45       21645 non-null  int64
 48  Steps46       21645 non-null  int64
 49  Steps47       21645 non-null  int64
 50  Steps48       21645 non-null  int64
 51  Steps49       21645 non-null  int64
 52  Steps50       21645 non-null  int64
 53  Steps51       21645 non-null  int64
 54  Steps52       21645 non-null  int64
 55  Steps53       21645 non-null  int64
 56  Steps54       21645 non-null  int64
 57  Steps55       21645 non-null  int64
 58  Steps56       21645 non-null  int64
 59  Steps57       21645 non-null  int64
 60  Steps58       21645 non-null  int64
 61  Steps59       21645 non-null  int64
dtypes: datetime64[ns](1), int64(61)
memory usage: 10.2 MB

Clean file sleepDay

In [129]:
file_exercise_tracker_sleepDay["SleepDay"] = pd.to_datetime(file_exercise_tracker_sleepDay["SleepDay"])

In [100]:
file_exercise_tracker_sleepDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  413 non-null    int64
 1   SleepDay            413 non-null    datetime64[ns]
 2   TotalSleepRecords   413 non-null    int64
 3   TotalMinutesAsleep  413 non-null    int64
 4   TotalTimeInBed      413 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 16.3 KB

In [102]:
file_exercise_tracker_sleepDay.drop_duplicates(inplace=True)

cleaning exercise_tracker_weightLogInfo

In [215]:
file_exercise_tracker_weightLogInfo["Date"] = pd.to_datetime(file_exercise_tracker_weightLogInfo["Date"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\1107306030.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_exercise_tracker_weightLogInfo["Date"] = pd.to_datetime(file_exercise_tracker_weightLogInfo["Date"])

In [216]:
file_exercise_tracker_weightLogInfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              67 non-null     int64
 1   Date            67 non-null     datetime64[ns]
 2   WeightKg        67 non-null     float64
 3   WeightPounds    67 non-null     float64
 4   Fat             2 non-null      float64
 5   BMI             67 non-null     float64
 6   IsManualReport  67 non-null     bool
 7   LogId           67 non-null     int64
dtypes: bool(1), datetime64[ns](1), float64(4), int64(2)
memory usage: 3.9 KB

In [219]:
file_exercise_tracker_weightLogInfo[file_exercise_tracker_weightLogInfo.Fat.isna()]

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
1,1503960366,2016-05-03 23:59:59,52.599998,115.963147,NaN,22.650000,True,1462319999000
2,1927972279,2016-04-13 01:08:52,133.500000,294.317120,NaN,47.540001,False,1460509732000
3,2873212765,2016-04-21 23:59:59,56.700001,125.002104,NaN,21.450001,True,1461283199000
4,2873212765,2016-05-12 23:59:59,57.299999,126.324875,NaN,21.690001,True,1463097599000
6,4319703577,2016-05-04 23:59:59,72.300003,159.394222,NaN,27.379999,True,1462406399000
...,...,...,...,...,...,...,...,...
62,8877689391,2016-05-06 06:43:35,85.000000,187.392923,NaN,25.440001,False,1462517015000
63,8877689391,2016-05-08 07:35:53,85.400002,188.274775,NaN,25.559999,False,1462692953000
64,8877689391,2016-05-09 06:39:44,85.500000,188.495234,NaN,25.610001,False,1462775984000
65,8877689391,2016-05-11 06:51:47,85.400002,188.274775,NaN,25.559999,False,1462949507000
66,8877689391,2016-05-12 06:42:53,84.000000,185.188300,NaN,25.139999,False,1463035373000

In [221]:
file_exercise_tracker_weightLogInfo.Fat.value_counts()

Fat
22.0    1
25.0    1
Name: count, dtype: int64

In [223]:
file_exercise_tracker_weightLogInfo.fillna(value=25.0, inplace=True)

In [224]:
file_exercise_tracker_weightLogInfo.isna().sum()

Id                0
Date              0
WeightKg          0
WeightPounds      0
Fat               0
BMI               0
IsManualReport    0
LogId             0
dtype: int64

In [225]:
file_exercise_tracker_weightLogInfo.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,2016-05-02 23:59:59,52.599998,115.963147,22.0,22.650000,True,1462233599000
1,1503960366,2016-05-03 23:59:59,52.599998,115.963147,25.0,22.650000,True,1462319999000
2,1927972279,2016-04-13 01:08:52,133.500000,294.317120,25.0,47.540001,False,1460509732000
3,2873212765,2016-04-21 23:59:59,56.700001,125.002104,25.0,21.450001,True,1461283199000
4,2873212765,2016-05-12 23:59:59,57.299999,126.324875,25.0,21.690001,True,1463097599000

### Cleaning Folder Fitness Tracking

cleaning file_fitness_tracking_dailyActivity

In [175]:
file_fitness_tracking_dailyActivity["ActivityDate"] = pd.to_datetime(file_fitness_tracking_dailyActivity["ActivityDate"])

In [176]:
file_fitness_tracking_dailyActivity.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886

cleaning file_fitness_tracking_heartrate

In [177]:
file_fitness_tracking_heartrate["Time"] = pd.to_datetime(file_fitness_tracking_heartrate["Time"])

In [178]:
file_fitness_tracking_heartrate.head()

           Id                Time  Value
0  2022484408 2016-04-01 07:54:00     93
1  2022484408 2016-04-01 07:54:05     91
2  2022484408 2016-04-01 07:54:10     96
3  2022484408 2016-04-01 07:54:15     98
4  2022484408 2016-04-01 07:54:20    100

cleaning file_fitness_tracking_hourlyCalories

In [180]:
file_fitness_tracking_hourlyCalories["ActivityHour"] = pd.to_datetime(file_fitness_tracking_hourlyCalories["ActivityHour"])

In [181]:
file_fitness_tracking_hourlyCalories.head()

           Id        ActivityHour  Calories
0  1503960366 2016-03-12 00:00:00        48
1  1503960366 2016-03-12 01:00:00        48
2  1503960366 2016-03-12 02:00:00        48
3  1503960366 2016-03-12 03:00:00        48
4  1503960366 2016-03-12 04:00:00        48

cleaning file_fitness_tracking_hourlyIntensities

In [183]:
file_fitness_tracking_hourlyIntensities["ActivityHour"] = pd.to_datetime(file_fitness_tracking_hourlyIntensities["ActivityHour"])

In [184]:
file_fitness_tracking_hourlyIntensities.head()

           Id        ActivityHour  TotalIntensity  AverageIntensity
0  1503960366 2016-03-12 00:00:00               0               0.0
1  1503960366 2016-03-12 01:00:00               0               0.0
2  1503960366 2016-03-12 02:00:00               0               0.0
3  1503960366 2016-03-12 03:00:00               0               0.0
4  1503960366 2016-03-12 04:00:00               0               0.0

cleaning file_fitness_tracking_hourlysteps

In [244]:
file_fitness_tracking_hourlySteps["ActivityHour"] = pd.to_datetime(file_fitness_tracking_hourlySteps["ActivityHour"])

In [245]:
file_fitness_tracking_hourlySteps.head()

           Id        ActivityHour  StepTotal
0  1503960366 2016-03-12 00:00:00          0
1  1503960366 2016-03-12 01:00:00          0
2  1503960366 2016-03-12 02:00:00          0
3  1503960366 2016-03-12 03:00:00          0
4  1503960366 2016-03-12 04:00:00          0

cleaning file_fitness_tracking_minutesCaloriesNarrow

In [246]:
file_fitness_tracking_minutesCaloriesNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minutesCaloriesNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\1168364462.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_fitness_tracking_minutesCaloriesNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minutesCaloriesNarrow["ActivityMinute"])

In [207]:
file_fitness_tracking_minutesCaloriesNarrow.head()

           Id      ActivityMinute  Calories
0  1503960366 2016-03-12 00:00:00    0.7973
1  1503960366 2016-03-12 00:01:00    0.7973
2  1503960366 2016-03-12 00:02:00    0.7973
3  1503960366 2016-03-12 00:03:00    0.7973
4  1503960366 2016-03-12 00:04:00    0.7973

cleaning file_fitness_tracking_minutETsNarrow

In [ ]:
file_fitness_tracking_minuteMETsNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minuteMETsNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6844\4263031195.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_fitness_tracking_minutETsNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minutETsNarrow["ActivityMinute"])

In [226]:
file_fitness_tracking_minuteMETsNarrow.info()

NameError: name 'file_fitness_tracking_minuteMETsNarrow' is not defined

cleaning file_fitness_tracking_minuteSleep

In [252]:
file_fitness_tracking_minuteSleep["date"] = pd.to_datetime(file_fitness_tracking_minuteSleep["date"])

In [253]:
file_fitness_tracking_minuteSleep.drop_duplicates(inplace=True)

In [254]:
file_fitness_tracking_minuteSleep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 198034 entries, 0 to 198558
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      198034 non-null  int64
 1   date    198034 non-null  datetime64[ns]
 2   value   198034 non-null  int64
 3   logId   198034 non-null  int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 7.6 MB

cleaning data file_fitness_tracking_minuteStepsNarrow

In [19]:
file_fitness_tracking_minuteStepsNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minuteStepsNarrow["ActivityMinute"])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_12396\1456619400.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  file_fitness_tracking_minuteStepsNarrow["ActivityMinute"] = pd.to_datetime(file_fitness_tracking_minuteStepsNarrow["ActivityMinute"])

In [20]:
file_fitness_tracking_minuteStepsNarrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445040 entries, 0 to 1445039
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Id              1445040 non-null  int64
 1   ActivityMinute  1445040 non-null  datetime64[ns]
 2   Steps           1445040 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 33.1 MB